*{
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Zilla Slab";
  background: rgb(27,27,31);
}

#play{
  text-align: center;
}

.webgl
{
    position: fixed;
    top: 0;
    right: 0;
    outline: none;
}

.parent{
  display: grid;
  grid-template-columns: 30vw 40vw 30vw;
  grid-template-rows: 15vh 13vh 25vh 47vh;
  justify-content: space-around;
}
  
  /* .child{
      border: 3px solid #333;
      background-color: #dfdfdf;  
  } */

  .overlay{
    opacity: 1;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
  }

  .share{
    position:absolute;
    left: 0;
    right: 0;
    top: 30%;
    margin: auto;
    width: 40%;
    z-index: 2;
    padding: 2em;
    background: white;
    border-radius: 10px;
  }

  .share, .overlay{
    display: none;
  }

  .spam{
    font-size: .7em;
    /* text-align: center; */
    text-transform: uppercase;
    /* display: none; */
  }

  .flow{
    font-size: 1em;
    /* text-align: center; */
    color: rgb(0, 191, 216);
    /* text-transform: uppercase; */
    font-weight: bold;
  }

  #url:link{
    color: black;   
    text-decoration: underline;
  }

  .show-share{
    display: block;
  }

  .container{
      margin: 1.5em 1.5em;
      color: white;
      align-self: left;
      grid-column: span 2;
      align-self: baseline;
      z-index: 1;
  }
  .container1{
      grid-column: span 1;
      margin: 2em 1em;
      color: white;
      align-self: left;
      align-self: baseline;
      z-index: 1;
  }
  .container2{
      background-color:rgba(27, 27, 27, 0.3);
      padding: .7em;
      grid-column: span 3;
      justify-self: center; 
      /* align-self: center; */
      z-index: 1;
      /* border-radius: 10px; */
  }
  .container3{
      grid-row: span 2;
  }
  .container4{
      grid-column: span 2;
  }
  .container5{
      width: 300px;
       /* align-self: center; */
      justify-self: center; 
      z-index: 1;
      align-items: center;
  }
  
  h1{
      font-size: 1.5rem;
  }
  
  .fas.fa-dragon{
    font-size: .8em;
  }
  
  h2{
      font-size: 1rem;
      text-align: left;
      width: 100%;
  }
  
  p{
      font-size: 1rem;
      width: 100%;
      color: rgb(170, 168, 168);
  }
  
  [data-role="keys"] > button {
      min-width: 55px;
      max-width: 55px;
      font-size: 1rem;
      padding: 1.3em 1.3em;
      margin-left: .5em;
      margin-right: .5em;
      margin-top: .4em;
      background-color: hsla(224, 100%, 50%, 0.5);
      border: none;
      color: white;
      font-weight: bold;
      /* text-transform: uppercase; */
      align-self: center;
      border-radius: 40%;  
  }
  
  [data-role="keys"]> button:hover{
    background-color: hsla(224, 100%, 30%, 0.5);
  }

  [data-role="controls"] > button {
      min-width: 55px;
      max-width: 55px;
      font-size: 1rem;
      padding: 1.3em 1.3em;
      margin-left: .5em;
      margin-right: .5em;
      margin-top: 1em;
      margin-bottom: 1em;
      /* background-color: rgba(0, 67, 250, 0.5); */
      border: none;
      color: white;
      /* font-weight: bold; */
      /* text-transform: uppercase; */
      align-self: center;
      border-radius: 35px;
      /* cursor: pointer */
  }

.btn{
    --hue: 210;
    --saturation: 100%;
    background-color: hsla(var(--hue), var(--saturation), 50%, .5);
}

.song-link:link{
  color: white;
}

.record-button,
.play-button
{
  --hue: 210;
  --saturation: 100%;
}
  
.record-button.active,
.play-button.active
{ 
    --hue: 0;
    --saturation: 100%;
}
  
.record-button:hover
{
  background-color: hsla(var(--hue), var(--saturation), 30%, .5);
  cursor: pointer;
}
 
.play-button.show:hover,
.save-button.show:hover,
.song-link.show:hover
{
  background-color: hsla(var(--hue), var(--saturation), 30%, .5);
  cursor: pointer;
}

.play-button,
.save-button,
.song-link
{
    --saturation: 0%;
  /* display: none; */
}
  
.play-button.show,
.save-button.show,
.song-link.show
{
    --saturation: 100%;
  /* display:unset; */
}

.info{
  display: none;
}

#play1{
  text-align: center;
}

.info1{
  color:rgb(243, 247, 7);
}

.title{
  text-decoration: none;
  color: white;
}

.info.show{
  margin: 0;
  padding: 2%;
  display:inherit;
  background-color: rgb(0, 191, 216);
  color:black;
}

#quote{
  color: black;
  /* font-style: italic; */
}

.about-button{
  background-color: hsla(var(--hue), var(--saturation), 30%, 0);
  --saturation:0%;
  color:grey
}